body {
  margin: 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.boton{
  margin-top: 20px;
  width: 150px;
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px;
  margin: 20px 20px;
  border: 2px solid black;
}

